@using MSLivingChoices.Localization
@using MSLivingChoices.Mvc.Uipc.Legacy
@Model MSLivingChoices.Mvc.Uipc.Admin.ViewModels.ChangePasswordVm

@{
    ViewBag.Title = "ChangePassword";
}
@section scripts 
{
    @Url.Script("legacy/jquery/jquery.validate.min.js")
    @Url.Script("legacy/jquery/jquery.validate.unobtrusive.min.js")
}
<div class="container">
    <h2>@StaticContent.Ttl_ChangePassword</h2>
    <p>@StaticContent.WtrMrk_ChangePassword</p>
    @using (Html.BeginForm())
    {
        if (!ViewData.ModelState.IsValid)
        {
        <div class="validation-summary-errors alert alert-block alert-error">
            @Html.ValidationMessage("UnsuccessfulPasswordChange")
        </div>
        }
        <fieldset>
            <legend>@StaticContent.Legend_PasswordChange</legend>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.OldPassword)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.OldPassword, new { @class = "alert alert-block alert-error" })
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.NewPassword)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.NewPassword, new { @class = "alert alert-block alert-error" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.ConfirmPassword)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.ConfirmPassword, new { @class = "alert alert-block alert-error" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" value="@StaticContent.Btn_Change" class="btn btn-primary" />
            </div>
        </fieldset>
    }
</div>