@using MSLivingChoices.Localization
@using MSLivingChoices.Mvc.Uipc.Admin.ViewModels
@using MSLivingChoices.Mvc.Uipc.Legacy
@model EditCommunityVm
@{
    ViewBag.Title = StaticContent.Ttl_EditCommunity;
}
@section scripts
{
    @Url.GoogleMapsApiScript()
    <script type="text/javascript">
        mslc.resolve(['lib/jQuery', 'admin/config', 'admin/editors/communityEditor'], function($, config, communityEditor) {
            $(function() {
                communityEditor.init(@Html.Json(Model), config.setting('saveCommunityUrl'));
            });
        });
    </script>
}
@section css
{
    @Url.Css("css/timepicker.css")
    @Url.Css("themes/base/jquery.ui.core.css")
    @Url.Css("themes/base/jquery.ui.theme.css")
    @Url.Css("themes/base/jquery.ui.datepicker.css")
    @Url.Css("themes/base/jquery.ui.slider.css")
    @Url.Css("bootstrap/bootstrap-switch.css")
    @Url.Css("jqueryFileUploader/jquery.fileupload-ui.css")
    @Url.Css("jqueryCarousel/skin.css")
    @Url.Css("imageUploader/ImageArea.css")
    @Url.Css("imageUploader/Modal.css")
}
<div class="form-title">
    @StaticContent.Ttl_EditCommunity
</div>
<hr />
@{ Html.RenderPartial("Partial/NewCommunity"); }
@{ Html.RenderPartial("Partial/_ImageSelectPopup", new UploadImageVm()); }